<style media="screen">
  body {
    margin-left: 50px;
    margin-right: 50px;
  }

  /***************************top_line 부분*************************/
  #top_line h1 {
    color: black;
    font-size: 35px;
    text-align: center;
    border-bottom: 5px solid gray;
    padding: 10px;
    margin: 0;
  }

  #top_line a {
    text-decoration: none;
    color: black;
  }

  /***************************그리드 메뉴바 *************************/
  .grid_menu {
    background-color: #2d2d2d;
    text-align: center;
    padding: 10px;
    display: grid;
  }

  .grid_menu_item {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .grid_menu_item a {
    color: white;
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
  /*********************북마크 *************************/
  .bookmark_menu{
    border: 1px solid gray;
    margin-top: 50px;
    display: grid;
    text-align: center;
  }
  .bookmark_menu_item{
    grid-row-start:1;
    grid-row-end:3;
    border: 1px solid gray;
    padding: 5px;
  }
  .bookmark_menu_item a{
    display: block;
  }
</style>
